{% extends "engineering/layout.html" %}

{% block body %}
    <div class='container'>
        <h2>Create New {{ title }}</h2>
        <label>Select Project: </label>
        {% if title == "Submersible Pump" %}
        <select class="form-select" aria-label="Default select example" id="projectSelect">
            <option selected>Projects</option>
            {% for project in projects %}
            <option value="{{ project.proj_name }}">{{ project.proj_name }}</option>
            {% endfor %}
        </select><br>
        <img src="/static/engineering/{{title}}.png" alt="pump" class="image"><br>
        <label for="systemEnglish">
            <input type="radio" id="systemEnglish" class="form-radio" name="system" value="english" checked>
            English System
        </label>

        <label for="systemMetric" class="ml-3">
            <input type="radio" id="systemMetric" class="form-radio" name="system" value="metric">
            Metric System
        </label><br>

        <h6>Recommended power: <strong><span id="result"></span><span class="power-unit"></span></strong></h6><br>

        <h6 for="customRange1" class="form-label">Flow rate:</h6>
        <input type="range" class="form-range radio-style" min="0" max="300" id="flowRateRange"><br>
        <h6>Value: <input type="number" id="flowRate"> 
            <span class="flowrate-unit"></span>
        </h6><br>

        <h6 for="customRange1" class="form-label">Total head:</h6>
        <input type="range" class="form-range radio-style" id="totalHeadRange" min="0" max="300"><br>
        <h6>Value: <input type="number" id="totalHead"> 
            <span class="totalHead-unit"></span>
        </h6><br>

        <h6 for="customRange1" class="form-label">Efficiency:</h6>
        <input type="range" class="form-range radio-style" id="efficiencyRange" min="0" max="100"><br>
        <h6>Value: <input type="number" id="efficiency">
            %
        </h6><br>
        {% endif %}
    </div>

{% endblock %}
