{% extends "engineering/layout.html" %}
{% load humanize %}
{% load static %}

{% block body %}
    <div class='container'>
        <div class="alert alert-success" id="saveMessage" role="alert" hidden></div>
        <div class="row justify-content-between mt-3 ml-1">
            <h1><strong>{{ projectName }}</strong></h1>
            <input type="hidden" value="{{projectName.id}}" id="projectname">
            <select class="custom-select" id="versionDropdown">
                <option selected>Version History</option>
                {% for ver in versions %}
                    <option value="{{ ver.version }}">version: {{ ver.version }} edited by: {{ ver.editor }}</option>
                {% endfor %}
            </select>
            
        </div>
            <div class="column text-right my-2 mr-3">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#importModal" >
                    Import
                  </button>
                <button class="btn btn-primary" onclick="addRow()">Add Row</button>
                <button class="btn btn-success" onclick="undoDelete()">Undo</button>
            </div>
            

            

        <table class="table" id="projectTable">
            <thead class="thead-dark">
            <tr>
                <th><strong>#</strong></th>
                <th><strong>Description</strong></th>
                <th><strong>Quantity</strong></th>
                <th><strong>Price</strong></th>
                <th><strong>Total Amount</strong></th>
                <th><strong>Delete</strong></th>
            </tr>
            </thead>
            {% if projDetails %}
            <tbody>
                {% for detail in projDetails %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><div contenteditable="true">{{ detail.description }}</div></td>
                    <td><div contenteditable="true" oninput="updateRowTotal(this)">{{ detail.quantity }}</div></td>
                    <td><div contenteditable="true" oninput="updateRowTotal(this)">{{ detail.price }}</div></td>
                    <td><div contenteditable="false">{{ detail.total_price|floatformat:"2"|intcomma }}</div></td>
                    <td><span onclick="deleteRow(this)" class="delete-icon">&#10060;</span></td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" align="right"><strong>Total:</strong></td>
                    <td id="totalAmount">{{ total_amount_sum|floatformat:"2"|intcomma }}</td>
                </tr>
            </tfoot>
        </table>

        {% else %}
            <tbody>
                <tr>
                    <td>1</td>
                    <td><div contenteditable="true">Description</div></td>
                    <td><div contenteditable="true" oninput="updateRowTotal(this)">0</div></td>
                    <td><div contenteditable="true" oninput="updateRowTotal(this)">0</div></td>
                    <td><div contenteditable="false">Total Amount</div></td>
                    <td><span onclick="deleteRow(this)" class="delete-icon">&#10060;</span></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" align="right"><strong>Total:</strong></td>
                    <td id="totalAmount">{{ total_amount_sum|floatformat:"2"|intcomma }}</td>
                </tr>
            </tfoot>
        </table>
        {% endif %}

        <button class="btn btn-primary" id="saveTable">SAVE</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="importModalLabel">Import Project</h1>
            </div>
                <div class="modal-body">
                <select class="custom-select" id="importDropdown">
                    <option selected>Select Design</option>
                    {% for details in designDetails %}
                        <option value="{{ details.id }}"> Pump {{details.id}} design by: {{ details.user }}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="modal-footer">
            <div class="modal-footer">
                <button type="submit" id="import-design" class="btn btn-primary">Import</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
