{% extends "engineering/layout.html" %}
{% load humanize %}

{% block body %}
    <div class='container'>
        <div class="row justify-content-between mt-3 ml-1">
            <h1><strong>{{ projectName }}</strong> v:{{version|default:"0"}}</h1>
            <input type="hidden" value="{{projectName.id}}" id="projectname">
            <div class="column mt-2 mr-3">
                <button class="btn btn-primary" onclick="addRow()">Add Row</button>
                <button class="btn btn-success" onclick="undoDelete()">Undo</button>
            </div>
        </div>
        
        <table class="table" id="projectTable">
            <thead class="thead-dark">
            <tr>
                <th><strong>#</strong></th>
                <th><strong>Description</strong></th>
                <th><strong>Quantity</strong></th>
                <th><strong>Price</strong></th>
                <th><strong>Total Amount</strong></th>
                <th><strong>Delete</strong></th>
            </tr>
            </thead>
            {% if projDetails %}
            <tbody>
                {% for detail in projDetails %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><div contenteditable="true">{{ detail.description }}</div></td>
                    <td><div contenteditable="true" oninput="updateRowTotal(this)">{{ detail.quantity }}</div></td>
                    <td><div contenteditable="true" oninput="updateRowTotal(this)">{{ detail.price }}</div></td>
                    <td><div contenteditable="false">{{ detail.total_price|floatformat:"2"|intcomma }}</div></td>
                    <td><span onclick="deleteRow(this)" class="delete-icon">&#10060;</span></td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" align="right"><strong>Total:</strong></td>
                    <td id="totalAmount">{{ total_amount_sum|floatformat:"2"|intcomma }}</td>
                </tr>
            </tfoot>
        </table>

        {% else %}
            <tbody>
                <tr>
                    <td>1</td>
                    <td><div contenteditable="true">Description</div></td>
                    <td><div contenteditable="true" oninput="updateRowTotal(this)">Quantity</div></td>
                    <td><div contenteditable="true" oninput="updateRowTotal(this)">Price</div></td>
                    <td><div contenteditable="false"></div></td>
                    <td><span onclick="deleteRow(this)" class="delete-icon">&#10060;</span></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" align="right"><strong>Total:</strong></td>
                    <td id="totalAmount">{{ total_amount_sum|floatformat:"2"|intcomma }}</td>
                </tr>
            </tfoot>
        </table>
        {% endif %}

        <button class="btn btn-primary" id="saveTable">SAVE</button>
    </div>

{% endblock %}
