* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.project-list {
    color: rgb(96, 96, 96);
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.delete-icon {
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

    -webkit-appearance: "Always Show Up/Down Arrows";

}

input[type=number] {
    width: 50px;
}

.radio-style {
    width: 250px;
}

.image {
    height: 100px;
    margin: 20px;
}

label {
    width: 150px;
    font-weight: 600;
}

u {
    border-bottom: 1px dotted #000;
    text-decoration: none;
    cursor: pointer;
}