* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.project-list {
    color: rgb(96, 96, 96);
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.delete-icon {
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
    
    -webkit-appearance: "Always Show Up/Down Arrows";
    
}
